#pogrubienie_Krajewski
{
font-size:34px;
  color: rgb(136, 94, 202);
}
#pochylona_Krajewski
{
  font-size: 39pt;
  color: rgb(236, 194, 102);
}
#index_gorny_Krajewski
{ 
  font-size: 1.4cm;
  color: rgb(156, 145, 22);
}
#index_dolny_Krajewski
{ 
  font-size: 2.3cm;
  color: rgb(56, 245, 222);
}
#mono_Krajewski
{ 
  font-size: 44px;
  color: rgb(28, 225, 102);
}
#powiekszenie_Krajewski
{  
color: rgb(86, 65, 152);
}
#pomniejszenie_Krajewski
{
color: rgb(186, 165, 52);
}
